@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudDivider>
    <MudPaper Class="weatherDetails">

    </MudPaper>
</MudDivider>

<p role="status">Current Weather in Dunkirk: @weatherCheck </p>

@code {
    private int currentCount = 0;

    private string weatherCheck = "";


    public class DataObject
    {
        public Weather[] weather = new Weather[1];
    }

    public class Weather
    {
        public int id { get; set; }
        public string main { get; set; }
        public string description { get; set; }
        public string icon { get; set; }
    }

    private const string url = "https://api.openweathermap.org/data/2.5/weather?lat=51.0344&lon=2.3768&appid=";

    protected override async Task OnInitializedAsync()
    {
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri(url);




        // List data response.
        HttpResponseMessage response = client.GetAsync(url).Result;
        if (response.IsSuccessStatusCode)
        {
            // Parse the response body.
            var dataObjects = response.Content.ReadAsAsync<DataObject>().Result;


            weatherCheck = dataObjects.weather[0].description;

        }
        else
        {
            Console.WriteLine("{0} ({ 1})", (int)response.StatusCode, response.ReasonPhrase);
        }
        client.Dispose();
    }
}
