@page "/"
@using HtmlAgilityPack;
@using Radio_Room.UI.dbContext
@using Radio_Room.UI
@inject IDialogueService DialogueService

<p role="status">Coordinates: lat = 51.0344 & long = 2.3768 </p>
<p role="status">Country: FR </p>
<p role="status">Current Weather in Dunkirk: @weatherCheck </p>

<MudButton Class="submit">
    @PlayMode
</MudButton>

<!--Starting dialogue:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">@dialogue.DialogueLine</MudElement></MudPaper>
</MudStack>

<!--First response:-->
<MudButtonGroup>
    <MudButton Class="button" OnClick=@((e) => LoadSpecificDialogue(responseOption1))>
        This is US (RTO) operator Clay Doberman from the USS Massachusetts battleship.
        Who is this? 
    </MudButton>
    <MudButton Class="button" >
        This is (RTO) operator Clay Doberman from the USS Massachusetts battleship.
        I read you. 
    </MudButton>
</MudButtonGroup>

<!--Dialogue after 1st response:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p">Line1: @dialogue.DialogueId</MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
</MudStack>

<!--Dialogue after 2nd response:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
</MudStack>

<!--(after 1st response option) 2nd response:-->
<MudButtonGroup>
    <MudButton Class="button" >
        Yes! Could you describe your surrounding? What's your situation?
    </MudButton>
    <MudButton Class="button" >
        That must have been terrible! Did you lose your squad?
    </MudButton>
</MudButtonGroup>

<!--Dialogue 1A:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
</MudStack>

<!--Dialogue 1B:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
</MudStack>

<!--(after 2nd response option) 2nd response:-->
<MudButtonGroup>
    <MudButton Class="button" >
        I'm going to need more proof of identity.
        Could you give some more information on your squad commander, 
        your squad number, and anything else related to identifying you, 
        so I can check? </MudButton>
    <MudButton Class="button" >
        Why weren't you able to escape with the others?
        Where's your squad? </MudButton>
</MudButtonGroup>

<!--Dialogue 2A:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"> </MudElement></MudPaper>
</MudStack>

<!--Dialogue 2B:-->
<MudStack>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"></MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"></MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"></MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"></MudElement></MudPaper>
    <MudPaper Class="pa-3"><MudElement HtmlTag="p"></MudElement></MudPaper>
</MudStack>


@code {

    //OpenWeather API call and data retrieval:
    public string weatherCheck = "";

    public class DataObject
    {
        public Weather[] weather = new Weather[1];
    }

    public class Weather
    {
        public int id { get; set; }
        public string main { get; set; }
        public string description { get; set; }
        public string icon { get; set; }
    }

    private const string url = "https://api.openweathermap.org/data/2.5/weather?lat=51.0344&lon=2.3768&appid=";
    protected override async Task OnInitializedAsync()
    {
        // get all dialogues:
        //await LoadData();

        // web api call
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri(url);

        // List data response.
        HttpResponseMessage response = client.GetAsync(url).Result;
        if (response.IsSuccessStatusCode)
        {
            // Parse the response body.
            var dataObjects = response.Content.ReadAsAsync<DataObject>().Result;

            weatherCheck = dataObjects.weather[0].description;
        }
        else
        {
            Console.WriteLine("{0} ({1})", (int)response.StatusCode, response.ReasonPhrase);
        }
        client.Dispose();
    }


    //-------------------------------------------------------------------------------------------------------------------
    public static void ConvertHtml()
    {
        
            // Load your HTML content (e.g., from a file or a web request)
            var htmlDocument = new HtmlDocument();
            htmlDocument.LoadHtml("Components/Pages/Home.razor");

            // Destination file to write text
            StreamWriter writer = new StreamWriter("Save/Progress.txt");

            // Select all <p> elements and buttons
            var paragraphs = htmlDocument.DocumentNode.SelectNodes("//p");

            if (paragraphs != null)
            {
                foreach (var paragraph in paragraphs)
                {
                    string paragraphText = paragraph.InnerText;

                    // Process the paragraph text as needed

                    File.WriteAllText("Save/Progress.txt", paragraphText);
                    writer.WriteLine(paragraphText);
                }
                writer.Close();
            }
        
    }
    //-----------------------------------------------------------------------------------------

    /*Dialogue code: */
    /* when the player presses a button -> 
     * a overarching function will be triggered 
     * - the int will turn into the option picked (a value is assigned per button 1 or 2 on the first option), 
     * - the database dialogue retrieval method is called
     * Using the int value the dialogue retrieves a specific set of dialoguelines through the PlayerResponseOption 
     * (this is the same as the value of the button)*/

    public string PlayMode = "Play!";

    public int responseOption1 = 1;

    public int responseOption2 = 2;

    public int responseOption = 1;

    public static string connectionString = "ConnectionStrings:SQLiteDefault";

    // new DialogueResponsesData(new Radio_RoomDbContext());

    //-------------------------------------------------------------------------------------------------------------------

    Dialogue dialogue = new Dialogue();

    List<Dialogue> dialogues = new List<Dialogue>();
    private async Task LoadData()
    {
        dialogues = await DialogueService.GetAllDialogues();
    }



    public async void LoadSpecificDialogue(int playerResponse)
    {
        await LoadData();
        if (responseOption == 1 || responseOption == 2 || responseOption == 101 || responseOption == 102 || responseOption == 201 || responseOption == 202)
        {
            //var playerResponseCheck = int.Parse(playerResponse); //this needs to grab from the buttons
            var characterResponse = dialogues.Where(s => s.PlayerResponseOption == playerResponse).FirstOrDefault();
            dialogue = characterResponse;
            PlayMode = "Play!";
        }
    }

    /*
    //Response and dialogue retrieval functionality
    public class DialogueResponsesData : Dialogue
    {
        public List<DialogueResponses> dialogueResponses = new List<DialogueResponses>();
        private readonly Radio_RoomDbContext dataContext;
        public string connectionString = "ConnectionStrings:SQLiteDefault";

        public DialogueResponsesData(Radio_RoomDbContext context) => this.dataContext = context;

        public void Respond(string connectionString)
        {
            this.connectionString = connectionString;
            if (!dataContext.Dialogues.Any())
            {
                DialogueQueryFilters();
            }

        }

        private void DialogueQueryFilters()
        {
            //var dialogueResponse = dataContext.Dialogues.Find(0);
            var playerResponse = int.Parse("1"); //this needs to grab from the buttons
            var dialogueResponses = dataContext.Dialogues.Where(s => s.PlayerResponseOption == playerResponse).ToList(); //this needs to be put into the p tags in home

        }


    }
    */
     /*
    public static void GiveResponse()
    {
        public string dialogueLine = new Dialogue;

        if ()
        {
            foreach (var dialogueLine in dialogueLines)
            {
                string responseDialogueText = Dialogue.dialogueLine;
            }
        }

    }
    */


}
