@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">Radio_Room</MudText>
        <MudSpacer />
        <MudButton Color="Color.Inherit" Edge="Edge.Start " >
           
        </MudButton>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="/Error" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    
}

