
<h3>WeatherCheck</h3>

<!--Weather api implementation-->
<MudStack Class="pa-5">
    <MudText Color="Color.Warning" Typo="Typo.subtitle1">Coordinates: 51.0344, 2.3768</MudText>
    <MudText Color="Color.Warning" Typo="Typo.subtitle1">Country: FR</MudText>
    <MudText Color="Color.Warning" Typo="Typo.subtitle1">Current Weather in Dunkirk: @weatherCheck </MudText>
</MudStack>


@code {
    /*
    * =====================================================================================================================
    * OpenWeather API call and data retrieval:
    * =====================================================================================================================
    * */
    public string weatherCheck = "";

    public class DataObject
    {
        public Weather[] weather = new Weather[1];
    }

    public class Weather
    {
        public int id { get; set; }
        public string main { get; set; }
        public string description { get; set; }
        public string icon { get; set; }
    }

    /*
    * ==========================================================================================================
    * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> | Add api key here (after appid=) \/ |
    * ==========================================================================================================
    */
    private const string url = "https://api.openweathermap.org/data/2.5/weather?lat=51.0344&lon=2.3768&appid=";

    protected override async Task OnInitializedAsync()
    {

        // web api call
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri(url);

        // List weather data response.
        HttpResponseMessage response = client.GetAsync(url).Result;
        if (response.IsSuccessStatusCode)
        {
            // Parse the weather data response body.
            var dataObjects = response.Content.ReadAsAsync<DataObject>().Result;

            weatherCheck = dataObjects.weather[0].description;
        }
        else
        {
            Console.WriteLine("{0} ({1})", (int)response.StatusCode, response.ReasonPhrase);
        }
        client.Dispose();
    }
}
